JWT_SECRET=
PORT=
DATABASE_URL=

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Resend API key
RESEND_API_KEY=
EMAIL_FROM=SCS Risk Assessment <onboarding@resend.dev>